* {
box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    margin: 0;
}

#thankYouCard {
    background-color: rgb(238, 5, 5);
}

.hide {
    display: none;
}

#gameCard {
    background-color: rgb(33, 233, 99);
}

:focus {
    outline: none;
    
}