* {
box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    margin: 0;
}

#thankYouCard {
    display: none;
    background-color: black;
}

#wouldYou {
    display: block;
}

.notVisible {
    display: none;
}

.visible {
    display: block;
}

#gameCard {
    display: none;
}